
<div class="container">
    <div>
        <h1>Formulario</h1>
    </div>
        <form [formGroup]="formulario">
            <div class="form-group">
                <div>
                    <label>Nombre</label>
                    <!--Input para el campo nombre-->
                    <input 
                      type="text" 
                      placeholder= "Ingresa tu nombre"
                      formControlName="nombre"
                      required
                    >
                    <!--Mostrar el error para el campo nombre-->
   ''                 <small *ngIf= "formularioReactivo.nombre?.errors?.required && formularioReactivo.nombre.touched">
                        El nombre es requerido
                    </small>

                    <small *ngIf= "formularioReactivo.nombre?.errors?.minlength">
                        El nombre debe contener almenos 4 caracteres
                    </small>
                </div>
            </div>
            <!--Fín de input para nombre-->

            <div class="form-group">
                <div>
                    <label>Apellido</label>
                    <!--Input para el campo apellido-->
                    <input
                     type="text"
                     placeholder="Ingresa tu apellido"
                     formControlName="apellido"
                     required
                    >
                    <!--Mostrar el error para el campo apellido-->
                    <small *ngIf= "formularioReactivo.apellido?.errors?.required && formularioReactivo.apellido.touched">
                        El apellido es requerido
                    </small>

                    <small *ngIf= "formularioReactivo.apellido?.errors?.minlength">
                        El apellido debe contener al menos 4 caracteres
                    </small>

                </div>

            </div>
            <!--Fín del input apellido-->

            <div class="form-group">
                <div>
                    <label>Edad</label>
                    <!--Input para el campo edad-->
                    <input
                      type="text"
                      placeholder="Ingresa tu edad"
                      formControlName= "edad"
                      required
                    >
                    <!--Mostrar el error para el campo edad-->
                    <small *ngIf= "formularioReactivo.edad?.errors?.required && formularioReactivo.edad.touched">
                        La edad es requerida
                    </small>

                    <small *ngIf= "formularioReactivo.edad?.errors?.min">
                        La edad debe ser mayor a 4 años
                    </small>
                </div>

            </div>
            <!--Fín del input para edad-->

            <div class="form-group">
                <div>
                    <label>Email</label>
                    <!--Input para el campo email-->
                    <input
                     type="text"
                     placeholder="Ingresa tu email"
                     formControlName= "email"
                     required
                    >
                    <!--Mostrar el error para el  campo email-->
                    <small *ngIf= "formularioReactivo.email?.errors?.required && formularioReactivo.email.touched">
                        El email es requerido
                    </small>
                    
                </div>
            </div>
            <!--Fín del input para email-->

            <!--Botón y función para invocar-->
            <div class="form-group">
                <div>
                    <button 
                    class="btn btn-primary"
                    type="submit"
                    (click)="botonEnviar()"
                    [disabled]= "!formulario.valid"
                    >Enviar</button>
                </div>

            </div>
        </form>

</div>